<div class="pure-u-1 pure-u-md-1-3">
    <div class="card">
        <img src="{{image}}" class=""/>
        <h2>{{subtitle}}</h2>
        <p>
            {{> @partial-block}}
        </p>
    </div>
</div>
