$project-border-width: 10vh;
$project-edge-blur: (100vh / (100vh + $project-border-width / 2)) * 100%;
$navigation-bar-padding: 5vh;

* {
    font-family: serif;
}

body, html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#navigation-bar {
    position: fixed;
    z-index: 100;
    background-color: #008000;
    top: 0;
    width: 100vw;
    padding: $navigation-bar-padding / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navigation-bar * {
    color: #FFFFFF;
    padding: 0 2em 0 0;
    cursor: pointer;
}

.navigation-padding {
    height: $navigation-bar-padding;
}

#main-scroller {
    position: relative;
}

#circle-scroll-mask {
    position: fixed;  
    top: -50vh;
    height: 300vh;
    transform: translateY(-50vh);
    -webkit-mask-image: radial-gradient(rgb(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
    mask-image: radial-gradient(rgb(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
    width: 100vw;
    left: 50vw;
    z-index: -1;
}

#circle-backdrop {
    position: relative;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    z-index: -1;
}

.project-container {
    position: relative;
}

.project-edge-blur {
    height: 100vh + $project-border-width * 2;
    width: 100vw;
    margin-top: -$project-border-width;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) $project-edge-blur, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) $project-edge-blur, rgba(0, 0, 0, 0) 100%);
    position: relative;
    z-index: -100;
}

.project-bg-gradient {
    content: "";
    overflow: auto;
    height: 100%;
    width: 100%;
}

.project-contents {
    height: 100vh;
    width: 30vw;
    margin-top: $project-border-width;
    position: absolute;
    top: 0;
    right: 5vw;
}

h2 {
    font-size: 3vh;
    margin-bottom: 0;
}

.project-link {
    font-size: 1.5vh;
}

.project-point {
    font-size: 2vh;
}

.project-subpoint {
    font-size: 2vh;
}

.project-image {
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}