body, html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.projectBgGradient {
  content: "";
  overflow: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.projectImage {
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to right, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

.templink {
  cursor: pointer;
}