* {
  font-family: serif;
}

body, html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#navigation-bar {
  position: fixed;
  z-index: 100;
  background-color: #008000;
  top: 0;
  width: 100vw;
  padding: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navigation-bar * {
  color: #FFFFFF;
  padding: 0 2em 0 0;
  cursor: pointer;
}

.navigation-padding {
  height: 5vh;
}

#main-scroller {
  position: relative;
  z-index: 0;
}

#circle-scroll-mask {
  position: fixed;
  top: -50vh;
  height: 300vh;
  transform: translateY(-50vh);
  -webkit-mask-image: radial-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 70%);
  mask-image: radial-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 70%);
  width: 100vw;
  left: 50vw;
  z-index: 2;
  isolation: isolate;
}

#circle-backdrop {
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.project-edge-blur {
  height: 120vh;
  width: 100vw;
  margin-top: -10vh;
  -webkit-mask-image: linear-gradient(0deg, rgb(0, 0, 0) 95.2380952381%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(0deg, rgb(0, 0, 0) 95.2380952381%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  z-index: -50;
}

.project-bg-gradient {
  content: "";
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.project-contents {
  height: 100vh;
  width: 30vw;
  margin-top: 10vh;
  float: right;
}

h2 {
  font-size: 3vh;
  position: relative;
  z-index: 20;
}

.project-link {
  font-size: 1.5vh;
}

.project-point {
  font-size: 2vh;
}

.project-image {
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  z-index: -70;
}